#container {
    background-color: white;
    display: inline-block;
    overflow: hidden;
    height: 600px;
    width: 800px;
    position: relative;
    float: left;

}

#settings {
    position: relative;
    float: left;
    margin-right: 20px;
}

#main-panel {
    margin: 10px;
    padding:10px;
}

#ant-settings-form {
    width: 255px;
}